@import "tailwindcss";

@theme {
  --color-brand-yellow: #F2C300;
  --color-brand-black: #000000;
}

html, body {
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.a11y-hidden { 
  position: absolute; 
  left: -10000px; 
  top: auto; 
  width: 1px; 
  height: 1px; 
  overflow: hidden; 
}
